html {
    background: white;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

/*#checkboxes {
    float: left;
}*/

#checkboxes ul {
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    /*float: left;*/
}

#checkboxes ul li input {
    vertical-align: -1px;
    padding: 0;
    margin-right: 7.5px;
    /*vertical-align: middle;*/
    overflow: visible;
}

#checkboxes ul li p {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    overflow: visible;
}

h3 {
    margin: 7.5px 0px;
}

h4 {
    margin: 7.5px 0px;
}

.AboutHeader {
    padding: 60px;
    text-align: center;
    background: #F5F5F5;
    /*color: white;*/
    font-size: 30px;
}

.AboutContent {
    padding: 20px;
}

.AboutContent p {
    margin: 1px;
}

a {
    text-decoration: none;
    color: #646464;
}
a:hover {
    color: #808080;
}

.NewTabSearchContainer {
    /*margin-top: 20%;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.Center {
    /*position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchInput {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 2.5px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    max-width: 560px;

}

.SearchInput input {
    flex: 1;
    padding: 10px 0;/*20px*/
    border: none;
    outline: none;
}

.SearchInput .material-icons {
    color: gray;
}

.List ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /*float: left;*/
}

.List ul li {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    overflow: visible;
}