[data-title]:hover:after {
    opacity: 1;
    transition: all 0.2s ease 0.6s;
    visibility: visible;
    font-size: 15px;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    padding: 2.5px 5px;
    color: black;
    border-radius: 5px;
    background: white;
    visibility: hidden;
    border: 1px solid gainsboro;
    white-space: nowrap;
}

html {
    background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0092FF;
    color: white;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

h3 {
    margin: 7.5px 0px;
}

h4 {
    margin: 7.5px 0px;
}

.AboutHeader {
    margin: 25px;
    padding: 75px;
    text-align: center;
    background: lightsteelblue;
    font-size: 25px;
    border-radius: 25px;
    overflow-y: hidden;
}

.AboutHeader h1 {
    margin: 0px;
    color: white;
}
.AboutHeader p {
    margin: 0px;
    color: white;
}

.AboutContent {
    margin: 75px;
}

.AboutContent p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #646464;
}

a:hover {
    color: #808080;
}

.NewTabSearchContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SLBrIcon {
    transition: transform .5s ease-in-out;
}

.SLBrIcon:hover {
    transform: rotate(180deg);
}

.SearchInput {
    display: flex;
    align-items: center;
    outline: 1px solid gainsboro;
    height: 35px;
    padding: 2.5px 10px;
    border-radius: 1000px;
    width: 75vw;
    margin: 0 auto;
    max-width: 560px;
    background: white;
}

.SearchInput:focus-within {
    outline: 2px solid #3399FF;
}

.SearchInput input {
    flex: 1;
    border: none;
    outline: none;
    margin: 0 5px;
    background: transparent;
}

.SearchInput .font-icon {
    color: darkgray;
}

.font-icon {
    user-select: none;
    font-family: 'Segoe Fluent Icons';
    font-size: 20px;
}
.icon_button {
    width: 35px !important;
    font-size: 17.5px !important;
    font-family: "Segoe Fluent Icons" !important;
}
.icon_button * {
    font-family: 'Segoe Fluent Icons';
}

.card {
    padding: 5px;
    background: whitesmoke;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 5px 10px !important;
    font-size: 30px;
    font-weight: 400;
}
header .font-icon {
    font-size: 25px;
}

.List ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.List ul li {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    overflow: visible;
}
